body {
	background: #ededed;
}

.panel {
	border-radius: 2px;
	-webkit-box-shadow: #dddddd 0 1px 1px 0;
	-moz-box-shadow: #dddddd 0 1px 1px 0;
	box-shadow: #dddddd 0 1px 1px 0;
	padding: 1em;
	border: 1px solid #BBB;
	background-color: #FFF;
}

header h1 small:before  {
	content: "|";
	margin: 0 0.5em;
	font-size: 1.6em;
}

article header{
	padding: 0;
	overflow: hidden;
}

article footer {
	background: none;
}

article {
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.date {
	float: right;
}

summary {
	font-weight: 700;
	line-height: 1.5;
}

footer {
	background: #ccc;
}

figure.ink-image.fixed-height > img {
	height: 200px;
	width: auto;
}

.drop.drop-bordered {	
	padding: 2em;
	border: 2px #bbb dashed;
	border-radius: 5px;
}

.drop.drag-over {
	background: #5cb85c;
	color: #fff;
}
