body {
	background: #ededed;
}

.panel {
	border-radius: 2px;
	-webkit-box-shadow: #dddddd 0 1px 1px 0;
	-moz-box-shadow: #dddddd 0 1px 1px 0;
	box-shadow: #dddddd 0 1px 1px 0;
	padding: 1em;
	border: 1px solid #BBB;
	background-color: #FFF;
}

header h1 small:before  {
	content: "|";
	margin: 0 0.5em;
	font-size: 1.6em;
}

article header{
	padding: 0;
	overflow: hidden;
}

article footer {
	background: none;
}

article {
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.date {
	float: right;
}

summary {
	font-weight: 700;
	line-height: 1.5;
}

footer {
	background: #ccc;
}

figure.ink-image.fixed-height > img {
	height: 200px;
	width: auto;
}

.drop.drop-bordered {	
	padding: 2em;
	border: 2px #bbb dashed;
	border-radius: 5px;
}

.drop.drag-over {
	background: #5cb85c;
	color: #fff;
}

.mw-category-header {
	max-height: 350px;
}

.mw-category-header > figcaption > h1,
.mw-category-header > figcaption > p {
	margin-bottom: 0;
}

.mw-category-header > figcaption > p {
	margin-top: 4px;
}

.mw-plugin-thumb {
	/*height: 300px;*/
}
.mw-plugin-thumb>img {	
	/*max-height: 300px;*/
	/*object-fit: contain;*/
	/*background-color: #333*/
}

.mw-plugins-column .stacker-item+.stacker-item {
	margin-top: 0.5em;
}

.mw-category-thumb>img {
	/*max-height: 300px;*/
	/*max-width: 300px;*/
	height: 250px;
	width: 250px;
	object-fit: contain;
	background-color: #333
}

.mw-category-toolbar .control-group,
.mw-category-toolbar h1 {
	margin-bottom: 0;
}

.mw-category-toolbar .ink-form {
	margin-top: 4px;
}
/*
Might be useful to scale and center images:
img.scaled.centered {
	max-width: 250px;	
	max-height: 250px;	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

*/

.mw-plugin-slide img {
	height: 400px;
	object-fit: cover;
}

.mw-image-thumb img {
	height: 150px;
	object-fit: contain;
	background-color: #333
}

figure.ink-image > a.over-bottom {
	bottom: 0;
}

figure.ink-image > a.over-top {
	top: 0;
}

figure.ink-image > a.over-bottom, 
figure.ink-image > a.over-top {
	position: absolute;
	left: 0;
	border: none;
	color: rgba(255, 255, 255, 0.7);
}

.mw-image-removed {	
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(34, 34, 34, 0.7);	
}