<div class="column-group bottom-space">
	<div class="all-100">
		<figure class="ink-image mw-category-header">
			<img ng-src="{{category.image_url}}" alt="{{category.name}}">
			<figcaption class="over-bottom mw-category-toolbar">
		    <div class="column-group">
		    	<div class="all-66">
						<h1 class="push-left">{{category.name}}</h1>		    		
		    	</div>
		    	<div class="all-33">
						<form class="ink-form" ng-submit="searchPlugins({name: keyword})">					
					    <div class="column-group">
					        <div class="control-group all-66">		
					            <div class="control append-button" role="search">
					                <span><input type="text" ng-model="keyword" id="keyword"></span>
					                <input type="submit" value="Search" class="ink-button">
					            </div>
					        </div>
					        <div class="control-group all-33">
					            <div class="control push-right">
							          <a class="ink-button black" href="#/plugins/new/{{category.id}}">
							          	New plugin
							          </a>            	
					            </div>
					        </div>
					    </div>
						</form>		    		
		    	</div>
			</div>
			</figcaption>
		</figure>
	</div>
</div>

<div id="stacker-container" class="column-group quarter-gutters">
    <div class="xlarge-25 large-25 medium-33 small-100 tiny-100 stacker-column mw-plugins-column" ng-repeat="idx in [0, 1, 2, 3]">
    	<div class="stacker-item" ng-repeat="plugin in category.plugins | modulo:4:idx" mw-plugins-stacker>
				<a href="#/plugins/{{plugin.id}}" title="Go to plugin page">
					<figure class="ink-image mw-plugin-thumb">
						<img ng-src="{{plugin.plugin_images[0].url}}" alt="{{plugin.name}}">
						<figcaption class="over-bottom dark">{{plugin.name}}</figcaption>
					</figure>
				</a>
    	</div>
    </div>
</div>