<div class="column-group vertical-space">
	<div class="all-100">
		<img data-src="holder.js/1650x300/ink/auto" alt="1650x300">
	</div>
</div>
<h1>{{category.name}}</h1>
<div class="column-group gutters" ng-repeat="plugin in category.plugins">
<div class="xlarge-50 large-50 all-100">
	<figure class="ink-image">
		<img ng-src="{{plugin.imageUrl}}" alt="{{plugin.name}}">
		<figcaption class="over-top dark">{{plugin.name}}</figcaption>
	</figure>
</div>
<div class="xlarge-50 large-50 all-50" ng-if="plugin.data.images.length <= 2">
	<p class="quarter-top-space">{{plugin.description}}</p>
</div>
<div class="xlarge-25 large-25 all-50" ng-if="plugin.data.images.length > 2">
	<img ng-src="{{plugin.data.images[1]}}" alt="{{plugin.name}}">
	<p class="quarter-top-space">{{plugin.description}}</p>
</div>
<div class="xlarge-25 large-25 all-50" ng-if="plugin.data.images.length > 2">
	<img ng-src="{{plugin.data.images[2]}}" alt="{{plugin.name}}">
	<p class="quarter-top-space">{{plugin.description}}</p>
</div>
</div>