- var stylesheets = [
    "bower_components/Ink/dist/css/ink.css",
    "bower_components/Ink/dist/css/font-awesome.min.css",
    "bower_components/FroalaWysiwygEditor/css/font-awesome.min.css",
    "bower_components/FroalaWysiwygEditor/css/froala_content.min.css",
    "bower_components/FroalaWysiwygEditor/css/froala_editor.min.css",
    "bower_components/FroalaWysiwygEditor/css/froala_style.min.css",
    "css/app.css"
  ]
- var scripts = [
    "bower_components/jquery/jquery.js", 
    "bower_components/Ink/dist/js/ink-all.js",
    "bower_components/angular/angular.js", 
    "bower_components/angular-route/angular-route.js", 
    "bower_components/angular-resource/angular-resource.js",
    "bower_components/flow.js/dist/flow.js", 
    "bower_components/ng-flow/dist/ng-flow.js",
    "bower_components/FroalaWysiwygEditor/js/froala_editor.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/tables.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/video.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/block_styles.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/colors.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/media_manager.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/lists.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/font_family.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/font_size.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/file_upload.min.js",
    "bower_components/FroalaWysiwygEditor/js/plugins/char_counter.min.js",
    "bower_components/angular-froala/src/angular-froala.js",
    "bower_components/angular-froala/src/froala-sanitize.js",
    "js/app.js", "js/controllers.js", "js/filters.js", "js/services.js", "js/directives.js"
  ]
- var title = "MW Treasury"

!!! 5
%html(lang="en" ng-app="mwTreasuryApp")
  %head
    %meta(charset="utf-8")
    %title= title
    :each sheet in stylesheets
      %link(rel="stylesheet" href=sheet)
    :each script in scripts
      %script(src=script)

  %body(flow-prevent-drop='' ng-controller="BaseController")
    .ink-grid
      %header.clearfix.vertical-padding
        %h1.logo.xlarge-push-left.large-push-left= title
          %small.fw-500
            %a(ng-if="header.url" href="{{header.url}}") {{header.text}}
            {{header.url ? '' : header}}
        %nav.ink-navigation.xlarge-push-right.large-push-right.half-top-space
          %ul.menu.horizontal.black
            %li
              %form(ng-submit="mainSearch(keyword)")
                %span.header-search
                  %input#main-search(name="mainSearch" type="text" ng-model="keyword")
                  %button.ink-button Search         
            %li
              %a(href="#/plugins") Main page
            %li
              %a(href="#/categories") Categories
      %div(ng-view='')
      %footer.clearfix
        .ink-grid
          %ul.unstyled.inline.half-vertical-space
            %li
              %a(href="#") About
            %li
              %a(href="#") Sitemap
            %li
              %a(href="#") Contacts
          %p.note 2014. MW Treasury